version: "3.8"

services:
  mariadb:
    image: mariadb:10.6
    container_name: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=StrongPass123
      - MYSQL_DATABASE=etl_config
    ports:
      - "3306:3306"
    networks:
      - hive-net
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:

networks:
  hive-net:
    name: proyecto-hive_hive-net
    external: true
